
.container{
    text-align: center;
}
table{
    margin: auto;
}
button {
    margin: -1px -2.1px 0px 0.3px;
    height: 51px;
    width: 81px;
    font-size: 25px;
    border-radius: 17px;
    background-color: #727272;
    margin: 2px;
}
input {
    font-size: 26px;
    border: 2.7px solid black;
    border-radius: 11px;
    height: 41px;
    width: 339px;
}
.calculator {
    border:3px solid #ebff32;
    display: inline-block;
    background-color: #bdb26c;
    border-radius: 25px;
    padding: 15px;
}
